@model ECommerce.ViewModels.LoginVM


<h2 class="formHeading">
    Before contact please Log in or 
    <a asp-action="Register" asp-controller="Account" class="HeadingLink"> Register</a>
</h2>

<form asp-action="Login" asp-controller="Account" method="post" role="form">
    <div asp-validation-summary="All"></div>

    <div>
        <div class="formItem">
            <input asp-for="UserName" placeholder=" " class="input" />
            <label asp-for="UserName" class="label"></label>
            <span asp-validation-for="UserName"></span>
            <div class="formItemBar"></div>
        </div>



        <div class="formItem">
            <input asp-for="Password" placeholder=" " class="input" />
            <label asp-for="Password" class="label"></label>
            <span asp-validation-for="Password" class="input"></span>
            <div class="formItemBar"></div>
        </div>



        <div class="formBtnDiv">
            <input type="submit" class="formBtn" value="Login" />
        </div>
    </div>
</form>