
.vs/ECommerce/v16/Server/sqlite3/storage.ide-shm
.vs/ECommerce/v16/Server/sqlite3/storage.ide-wal
.vs/ECommerce/v16/Server/sqlite3/storage.ide-shm
.vs/ECommerce/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
ECommerce/obj/Debug/netcoreapp2.1/ECommerce.csprojAssemblyReference.cache
