<!DOCTYPE html>

<html>
<head>
    <link href="~/content/site.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="Nav">
        <div class="N">
            <ul class="NavWrapper">
                <li class="NavWrapper__Item"><a asp-controller="Home" asp-action="Index" class="NavWrapper__Link">Home</a></li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
